body{
    padding-top: 25px;
}

.Containerr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cr{
    height: 250px;
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
margin: 15px 0;
}

.cr2 {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
text-align: center;
}

.cr2 *{
margin: 15px 0;

}
i{
    cursor: pointer;
}
.price{
    display: inline-block;
}
.adding{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    align-items: center !important;

}
button{
    border: none;
    background-color: transparent;
}
